## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.userprefs

## Visual Studio
.vs/
*.rsuser
*.cache

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## OS
.DS_Store
Thumbs.db
